
#restart {
    background-color: green;
    height: 70px;
    width: 100px;
    margin-right: 10px;
    text-align: center;
}

#clearScore {
    
    background-color: blue;
    height: 70px;
    width: 100px;
    margin-left: 10px;
}
.card{
    margin-top: 100px;
    text-align: center;
}

.container-fluid {
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}
.card-header {
    font-weight: bold;
    background-color: darkgray;
    color: white;
}
.card-body {
    margin-left: 135px;
    margin-right: 135px; 
    display: flex;
    flex-direction:row;
    justify-content: center;
}

#start {
    margin-bottom: 100px;
}

#question { 
    display: block;
    padding-top: 30px;
}
#option-list button {
    margin-right: 5px;
}

.card-footer {
    height: 60px;
    background-color: darkgray;
    color: white;
}