#btn-1:hover, #btn-2:hover, #btn-3:hover, #btn-4:hover, #start:hover {
    cursor:pointer;
    background-color: whitesmoke;
}

#btn-1:focus, #btn-2:focus, #btn-3:focus, #btn-4:focus, {
    outline: 0;
}

.card-body {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 175px;
    margin-right: 175px;
    

}

#start {
    margin-bottom: 100px;
}

#button {
    margin: 2px;
}